<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="/assets/img/{{ pensamento.modelo }}.png" alt="aspas coloridas">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autoria }}</b></p>

    <div class="acoes">
        <button class="botao-editar" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}">
            <img src="/assets/img/icone-editar.png" alt="Ícone de Editar">
        </button>
        <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
            <img src="/assets/img/icone-excluir.png" alt="Ícone de Excluir">
        </button>
    </div>
</div>